* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

h1 {
    background: -webkit-radial-gradient(white, orange, red);
    font-family: Chewy;
    text-align: center;
    padding: 20px;
    border: 5px dotted black;
}
#canvas1 {
    background: gainsboro;
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player, #hand, #treat {
    display: none;
}